<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Home Page</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <h1>Hello, my creator {{ user.username }}</h1>
        {% else %}
            <h1>Hello, {{ user.username }}!</h1>
        {% endif %}
        <a href="{% url 'profile' %}">
            <button>
                Profile
            </button>
        </a>
        <a href="{% url 'logout' %}">
            <button>
                Log Out
            </button>
        </a>
        <br>
        <a href="{% url 'product_create' %}">
        <button>
            Add New product
        </button>
        </a>
    {% else %}
        <h1>You not authenticated</h1>
        <a href="{% url 'login' %}">
            <button>
                Log In
            </button>
        </a>
        <br>
        <a href="{% url 'registration' %}">
            <button>
                Registration
            </button>
        </a>
    {% endif %}

    {% for product in products %}
        <h1>
            <a href="{% url 'product_detail' product.id %}">
                {{ product.name }}
            </a>
        </h1>
    {% endfor %}
</body>
</html>